/* Soluzione qui */

@media screen and (min-width: 760px){
    #topbar{
        justify-content: flex-start;
    }

    .recipe{
        padding: 30px;
    }
    
    .recipe-origin{
        display:inline;
        font-weight:1000;
        
    }

    .btn{
        padding: 0.60rem 3rem;
        
    }

    .ads{
        display: inline;
    }

}
    