/* Soluzione qui */




@media screen and (min-width: 760px){
    #topbar{
        justify-content: flex-start;
    }

    .recipe{
        padding: 30px;
    }
    
    .recipe-origin{
        display:inline;
        font-weight:1000px;
        
    }


    .btn {
        padding: 0.60rem 3rem;
        margin-bottom: 1.5rem;  
    }


    .ads{
        display: inline;
    }

}   

@media screen and (min-width: 991px) {

    h2{
        font-size: 2.5rem;
    }
    
    .recipe-card{
        display: flex;
        min-width: 100%;
        justify-content: space-between;
    }

    .recipe-video{
        width: 70%;
        height: auto;
    }

    .recipe-info{
        width: 30%;
        height: auto;
    }

    .social-networks{
        display: inline;

    }




    .social-networks .label{
        display: inline;
        
    }

    footer{
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

     footer ul{
        padding: 0.50rem;
     }

    }



