/* media query tablet */

@media screen and (min-width: 760px){
    #topbar{
        justify-content: flex-start;
    }

    .recipe{
        padding: 30px;
    }
    
    .recipe-origin{
        display:inline;
        
    }

    .recipe-name{
        font-size: 32px;
    
    }


    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
    }

    li{
        flex-basis:calc(100% / 3);
    }


    .social-networks .btn {
        flex-basis: 7rem;
        margin-bottom: 2rem; 
    }


    .ads{
        display: inline;
    }

    .presentation img{
        float: left;
        margin-right: 1rem;
    }


}   

/* media query tablet */


/* media query dekstop */

@media screen and (min-width: 991px) {

    .recipe-name{
        font-size: 2.5rem;
    }
    
    .recipe-card{
        display: flex;
        min-width: 100%;
        justify-content: space-between;
    }

    .recipe-video{
        width: 70%;
        height: auto;
    }


    .recipe-info{
        width: 30%;
        height: auto;
    }


    .quick-notes ul{
        display: block;
    }


    .social-networks .btn{
        display: inline;
        /* chiedere */

    }


    .social-networks .label{
        display: inline;
        
    }

    footer{
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

     footer ul{
        padding: 0.50rem;
     }

    }

/* media query dekstop */

